.header {
  background-color: #fff;
  padding: 15px;
  .header-icon {
    background-color: #f9f9f9;
    color: #555;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 20px;
    transition: 0.3s;
    &:hover {
      color: #27ae60;
    }
  }
  // Notifications Sys
  .notifications-container {
    display: inline-block;
    // The Notifications Body
    .dropdown-menu {
      min-width: 600px;
      border: none;
      padding: 0;
      top: 15px !important;
      &:before {
        content: "";
        position: absolute;
        left: 11px;
        top: -20px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #333 transparent;
      }
      .noti-head {
        padding: 20px;
        background-color: #333;
        color: #fff;
        span {
          float: right;
          background-color: #fff;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          line-height: 30px;
          text-align: center;
          color: #333333;
        }
      }
      .noti-content {
        padding: 20px;
        ul {
          margin: 0;
          li {
            padding: 10px;
            &:last-child {
              padding-bottom: 0;
            }
            i {
              background-color: #eee;
              width: 45px;
              height: 45px;
              border-radius: 50%;
              line-height: 45px;
              text-align: center;
              margin-right: 15px;
              position: relative;
              top: -3px;
            }
          }
        }
      }
      .noti-foot {
        a {
          display: block;
          padding: 10px;
          border-top: 1px dashed #eee;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  // User Menu
  .usermenu-container {
    float: right;
    .username {
      cursor: pointer;
      .avatar {
        width: 40px;
        height: 40px;
      }
      .user {
        font-weight: bold;
        color: #555;
        margin-right: 10px;
        margin-left: 10px;
      }
    }
    .dropdown-menu {
      min-width: 600px;
      border: none;
      padding: 20px;
      top: 15px !important;
      border: 1px solid #ddd;
      &:before {
        content: "";
        position: absolute;
        right: 40px;
        top: -20px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #ddd transparent;
      }
      .user-info {
        h3 {
          font-weight: bold;
          color: #27ae60;
        }
        p {
          color: #888;
        }
      }
      .activities-list {
        li {
          padding: 10px;
        }
      }
      .usermenu-links {
        .link-box {
          background-color: #fff;
          border: 1px solid #f3f3f3;
          padding: 10px 15px;
          border-radius: 6px;
          text-align: right;
          cursor: pointer;
          i {
            float: left;
            position: relative;
            top: 5px;
            &.settings-icon {
              color: #2980b9;
            }
            &.profile-icon {
              color: #16a085;
            }
            &.logout-icon {
              color: #c0392b;
            }
          }
        }
      }
    }
  }
}
