.settings-box {
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: #fff;
  right: 0;
  top: 0;
  padding: 20px;
  z-index: 1000;
  transition: 0.3s;
  &.hide-settings {
    right: -250px;
  }
  .option-title {
    font-weight: bold;
    color: #666;
    margin: 10px 0 15px;
  }
  .settings-toggle {
    background-color: #fff;
    position: absolute;
    left: -55px;
    top: 100px;
    padding: 10px 15px;
    font-size: 22px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
  }
  .color-option {
    ul {
      $colors: #27ae60, #2980b9, #c0392b;
      @for $i from 1 through length($colors) {
        li:nth-child(#{$i}) {
          background-color: nth($colors, $i);
        }
        li {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          margin-right: 10px;
          display: inline-block;
          cursor: pointer;
          opacity: 0.6;
          &.active {
            opacity: 1;
          }
        }
      }
    }
  }
}
