.settings-box.hide-settings
  .settings-toggle
    i.fa.fa-gear.fa-lg
  .settings-content
    .options-box
      h4 Color Options
    .options-box
      h4 Fonts Options
    .options-box
      h4 Sidebar Options